torneosATP.dtd

<!ELEMENT torneosAPT (torneo)>

<!ELEMENT torneo (nombre, fechaIni, fechaFin, puntosAPT, cuadro, partidos)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fechaIni (#PCDATA)>
<!ELEMENT fechaFin (#PCDATA)>

<!ELEMENT puntosAPT (ronda+)>
<!ELEMENT ronda ANY>
<!ATTLIST ronda
    puntos CDATA #REQUIRED
>

<!ELEMENT cuandro (cruce+)>
<!ELEMENT cruce (jugador)>
<!ELEMENT jugador EMPTY>
<!ATTLIST jugador
    nombre CDATA #REQUIRED
	rankingTorneo CDATA #REQUIRED
>

<!ELEMENT partidos (partido+)>
<!ELEMENT partido (tipo, jugadores, resultado)>
<!ATTLIST partido
	estado CDATA #REQUIRED
>
<!ELEMENT tipo (#PCDATA)>

<!ELEMENT jugadores (lado1, lado2)>
<!ELEMENT lado1 (jugador+)>
<!ELEMENT jugador AVY>
<!ATTLIST jugador
    nombre CDATA #REQUIRED
	rankingTorneo CDATA #REQUIRED
>
<!ELEMENT lado2 (jugador+)>
<!ELEMENT jugador EMPTY>
<!ATTLIST jugador
    nombre CDATA #REQUIRED
	rankingTorneo CDATA #REQUIRED
>
<!ELEMENT resultado (set)>
<!ELEMENT set (juegos+)>
<!ATTLIST set
	numero CDATA #REQUIRED
>
<!ELEMENT juegos EMPTY>
<!ATTLIST juegos
    lado1 CDATA #REQUIRED
	lado2 CDATA #REQUIRED
>
<!ELEMENT puntosjuego EMPTY>
<!ATTLIST puntosjuego
    lado1 CDATA #REQUIRED
	lado2 CDATA #REQUIRED
>
